[info]
name = poseidon
groups = poseidon

[settings]
instances = 1

[docker]
ports = {'9304/tcp': ('0.0.0.0', 9304)}
links = {"RabbitMQ":"RABBIT_SERVER", "NetworkTap":"vent_ip", "PoseidonAPI":"poseidon-api"}
