cmd2==1.1.0
faucetconfrpc==0.7
natural==0.2.0
netaddr==0.8.0
pika==1.1.0
prometheus_client==0.8.0
pyyaml==5.3.1
redis==3.5.3
requests==2.24.0
schedule==0.6.0
texttable==1.6.2
transitions==0.8.2
urllib3==1.25.9
