httmock==1.2.6
mock==2.0.0
pika==0.12.0
prometheus_client==0.5.0
pylint==2.2.2
pytest-cov==2.6.1
pytest==4.1.1
pyyaml==3.13
redis==3.0.1
requests==2.21.0
schedule==0.5.0
scp==0.13.0
transitions==0.6.9
urllib3==1.24.1
