version: '3.7'
services:
    gauge:
        restart: always
        image: 'faucet/gauge:1.9.31'
        environment:
            GAUGE_CONFIG: '/etc/faucet/gauge.yaml'
        volumes:
            - '${POSEIDON_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${POSEIDON_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6654:6653'
        networks:
            - poseidon
    faucet:
        restart: always
        image: 'faucet/faucet:1.9.30'
        volumes:
            - '${POSEIDON_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${POSEIDON_PREFIX}/var/run/faucet:/var/run/faucet'
            - '${POSEIDON_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6653:6653'
        environment:
            FAUCET_CONFIG_STAT_RELOAD: '1'
            FAUCET_EVENT_SOCK: '1'
            FAUCET_CONFIG_AUTO_REVERT: '1'
        networks:
            - poseidon
networks:
    poseidon:
