---
version: '3.7'
services:
    gauge:
        restart: always
        image: 'c65sdn/gauge:1.0.28'
        environment:
            GAUGE_CONFIG: '/etc/faucet/gauge.yaml'
            GAUGE_CONFIG_STAT_RELOAD: '1'
        volumes:
            - '${POSEIDON_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${POSEIDON_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6654:6653'
        networks:
            - poseidon
    faucet:
        restart: always
        image: 'c65sdn/faucet:1.0.29'
        volumes:
            - '${POSEIDON_PREFIX}/var/log/faucet:/var/log/faucet'
            - '${POSEIDON_PREFIX}/var/run/faucet:/var/run/faucet'
            - '${POSEIDON_PREFIX}/etc/faucet:/etc/faucet'
        ports:
            - '6653:6653'
        environment:
            FAUCET_CONFIG_STAT_RELOAD: '1'
            FAUCET_EVENT_SOCK: '1'
            FAUCET_CONFIG_AUTO_REVERT: '1'
        networks:
            - poseidon
networks:
    poseidon:
        driver: overlay
