[Monitor]
config = True
logging_file = /tmp/poseidonWork/logging.json
logger_level = DEBUG
reinvestigation_frequency =  900
max_concurrent_reinvestigations = 2
scan_frequency = 5
rabbit_server =  RABBIT_SERVER
rabbit_port = RABBIT_PORT

collector_nic = COLLECTOR_NIC
collector_interval = 900
vent_ip = VENT_IP
vent_port = VENT_PORT

[NorthBoundControllerAbstraction]
config = True

[NorthBoundControllerAbstraction:Handle_Resource]
config = True

[NorthBoundControllerAbstraction:Update_Switch_State]
config = True
controller_type = bcf
controller_uri = https://CONTROLLER_SERVER:8443/api/v1/
controller_user = USERNAME
controller_pass = PASSWORD
controller_log_file = /var/log/ryu/faucet/faucet.log
controller_config_file = /etc/ryu/faucet/faucet.yaml
controller_mirror_ports = '{}'

[Config]
config = True

[Config:Handle_FullConfig]
config = True

[Config:Handle_SectionConfig]
config = True

[Config:Handle_FieldConfig]
config = True

[NodeHistory]
config = True

[NodeHistory:Handle_Default]
config = True

[rest config test]
key1 = trident
key2 = theseus
double key = atlas horses
