[Monitor]
config = True
logger_level = INFO
reinvestigation_frequency =  900
max_concurrent_reinvestigations = 2
scan_frequency = 5
rabbit_server =  RABBIT_SERVER
rabbit_port = RABBIT_PORT
collector_nic = COLLECTOR_NIC
vent_ip = VENT_IP
vent_port = 8080
FA_RABBIT_ENABLED = True
FA_RABBIT_HOST = RABBIT_SERVER
FA_RABBIT_PORT = 5672
FA_RABBIT_EXCHANGE = 'topic_recs'
FA_RABBIT_EXCHANGE_TYPE = 'topic'
FA_RABBIT_ROUTING_KEY = 'FAUCET.Event'

[NorthBoundControllerAbstraction]
config = True

[Endpoint_Wrapper]
config = True
vent_ip = VENT_IP
vent_port = 8080

[NorthBoundControllerAbstraction:Update_Switch_State]
config = True
controller_type = bcf
controller_uri = https://CONTROLLER_SERVER:8443/api/v1/
controller_user = USERNAME
controller_pass = PASSWORD
controller_log_file = /var/log/faucet/faucet.log
controller_config_file = /etc/faucet/faucet.yaml
controller_mirror_ports = '{}'
rabbit_enabled = True
learn_public_addresses = False

[Config]
config = True

[Config:Handle_FullConfig]
config = True

[Config:Handle_SectionConfig]
config = True

[Config:Handle_FieldConfig]
config = True
