[Poseidon]
logger_level = INFO
reinvestigation_frequency =  900
max_concurrent_reinvestigations = 2
scan_frequency = 5
learn_public_addresses = False
controller_type = bcf
controller_uri = https://CONTROLLER_SERVER:8443/api/v1/
controller_user = USERNAME
controller_pass = PASSWORD

[PoseidonML]
rabbit_enabled = True
rabbit_server =  RABBIT_SERVER
rabbit_port = 5672

[Vent]
collector_nic = COLLECTOR_NIC
vent_ip = VENT_IP
vent_port = 8080

[Faucet]
controller_log_file = /var/log/faucet/faucet.log
controller_config_file = /etc/faucet/faucet.yaml
controller_mirror_ports = '{"switch1":3}'
FA_RABBIT_ENABLED = True
FA_RABBIT_HOST = RABBIT_SERVER
FA_RABBIT_PORT = 5672
FA_RABBIT_EXCHANGE = 'topic_recs'
FA_RABBIT_EXCHANGE_TYPE = 'topic'
FA_RABBIT_ROUTING_KEY = 'FAUCET.Event'

[Bcf]
controller_interface_group = ig1
controller_span_fabric_name = vent
