[info]
name = machine learning algorithms for device identification and anomaly detection

[service]
schedule = {"all":"hourly"}
mime_types = application/vnd.tcpdump.pcap
ext_types = pcap

[deep_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]

[dev_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]

[port_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]
