[database]
user = user
password = SECRET

[vcontrol]
api_url = http://www.lab41.org

[main]
name = resource

[monitor]
scan_frequency = 5

[rest config test]
key1 = trident
key2 = theseus
double key = atlas horses
