[info]
name = machine learning algorithms for device and port identification 

[service]
schedule = {"all":"hourly"}
mime_types = text/csv
ext_types = csv

[eval_dev_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]

[train_dev_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]

[port_classifier]
Env = ["POSEIDON_HOST=0.0.0.0"]
