[Unit]
Description = Poseidon
Requires = docker.service
After = docker.service

[Service]
EnvironmentFile = /etc/poseidon/default.conf
ExecStart = /usr/bin/poseidon

[Install]
WantedBy = multi-user.target
