[info]
name = PoseidonAPI
groups = poseidon,api

[service]
uri_prefix1 = http://
uri_postfix1 = /v1

[settings]
priority = 9

[docker]
environment = ["PYTHONUNBUFFERED=0"]
ports = {'8000/tcp': ('0.0.0.0', 5000)}
publish_all_ports = True
links = {"Redis":"redis"}
